<header class="app-header">
    <img ngSrc="/assets/StoryClone-logo1.png" priority width="128" height="40"/>

    <div>
        <nav>
            <ul>
                <li>
                    <a href="">Audiolivros</a>
                </li>
                <li>
                    <a href="">eBooks</a>   
                </li>
                <li>
                    <a href="">Categorias</a>
                </li>
            </ul>
            <ul class="ul-2">
                <li>
                    <a href="">Entrar</a>
                </li>
                <li>
                    <button class="button-tg">Teste grátis</button>
                </li>
            </ul>
        </nav>

        <mat-icon class="icon-search">search</mat-icon>
    </div>
</header>
