<footer>
    <section>
        <div class="div-grid">
            <div class="div-info group1">
                <span>A STORYTEL</span>
                <ul>
                    <li>
                        <a href="">Sobre</a>
                    </li>
                    <li>
                        <a href="">Vagas</a>
                    </li>
                    <li>
                        <a href="">Investidores</a>
                    </li>
                    <li>
                        <a href="">Imprensa</a>
                    </li>
                    <li>
                        <a href="">Sustentabilidade</a>
                    </li>
                </ul>
            </div>
            <div class="div-info group2">
            <span>EXPLORAR</span>
            <ul>
                <li>
                    <a href="">Buscar</a>
                </li>
                <li>
                    <a href="">Audiolivros</a>
                </li>
                <li>
                    <a href="">Audio séries</a>
                </li>
                <li>
                    <a href="">Originais storytel</a>
                </li>
                <li>
                    <a href="">Autores</a>
                </li>
                <li>
                    <a href="">Narradores</a>
                </li>
                <li>
                    <a href="">Categorias</a>
                </li>
            </ul>
            </div>
            <div class="div-info group3">
                <span>LINKS ÚTEIS</span>
                <ul>
                    <li>
                        <a href="">Contato e ajuda</a>
                    </li>
                    <li>
                        <a href="">Comprar Vale-presente</a>
                    </li>
                    <li>
                        <a href="">Resgatar Vale-presente</a>
                    </li>
                </ul>
            </div>
            <div class="div-info localization">
                <span>IDIOMA E REGIÃO</span>
                <ul>
                    <li>
                        <a href=""><mat-icon class="icon-language">language</mat-icon>Português</a>
                    </li>
                    <li>
                        <a href=""><mat-icon class="icon-location">location_on</mat-icon>Brasil</a>
                    </li>
                </ul>
            </div>

            <hr class="primary-divider">

            
            <div class="store-links">
                <ul>
                    <li>
                        <a href=""><img ngSrc="/assets/AppStore.png" width="110" height="32" loading="lazy"></a>
                    </li>
                    <li>
                        <a href=""><img ngSrc="/assets/GooglePlay.png" width="110" height="32" loading="lazy"></a>
                    </li>
                </ul>
            </div>
            <div class="socials">
            <span>NOS SIGA</span>
            <ul>
                <li>
                    <a href=""><img ngSrc="/assets/Facebook.png" width="20" height="20" loading="lazy"></a>
                </li>
                <li>
                    <a href=""><img ngSrc="/assets/Instagram.png" width="20" height="20" loading="lazy"></a>
                </li>
            </ul>
            </div>

            <div class="fine-print-links">
                <ul>
                    <li>
                        <a href="">Política de Privacidade</a>
                    </li>
                    <li>
                        <a href="">Termos de Utilização</a>
                    </li>
                    <li>
                        <a href="">Política de cookies</a>
                    </li>
                </ul>
            </div>
            <div class="payment-methods">
            <ul>
                <li>
                    <a href=""><img ngSrc="/assets/Martercard.png" width="40" height="32" loading="lazy"></a>
                </li>
                <li>
                    <a href=""><img ngSrc="/assets/Visa.png" width="40" height="32" loading="lazy"></a>
                </li>
            </ul>
            </div>
        </div>
    </section>
    

</footer>
