<section>
    <div class="ads-1">
        <div class="flex-1">
            <h1>Audiolivros ilimitados para todos</h1>
            <p>Mais de 500,000 histórias, bestsellers e originais Storytel por somente R$19,90 por mês. Experimente grátis e cancele a qualquer momento.</p>
            <a class="a-1" href="">Teste grátis por 7 dias</a>
        </div>
        <div class="ads-img">
            <img ngSrc="/assets/Book.png" width="400" height="400">
        </div>
    </div>

    <div class="ads-2">
        <img ngSrc="/assets/Ads-2.png" width="500" height="370">
        <div class="flex-2">
            <h1>Histórias selecionadas para você</h1>
            <p>Siga seu autor favorito, narrador ou série e receba recomendações personalizadas com base no que você ouviu anteriormente.</p>
            <a class="a-2" href="">Teste grátis por 7 dias</a>
        </div>
    </div>
</section>
