<section>
    <div class="ads-1">
        <app-ads-content></app-ads-content>
        <div class="ads-img">
            <div>
                <img ngSrc="/assets/Book.png" width="400" height="400">
                <div>
                    <mat-icon class="icon-headphones">headphones</mat-icon>
                    <p>Ouça uma amostra</p>
                </div>
            </div>
        </div>
    </div>

    <div class="ads-2">
        <img ngSrc="/assets/Ads-2.png" width="500" height="370">
        <div class="flex-2">
            <h1>Histórias selecionadas para você</h1>
            <p>Siga seu autor favorito, narrador ou série e receba recomendações personalizadas com base no que você ouviu anteriormente.</p>
            <a type="button" class="a-2" href="">Teste grátis por 7 dias</a>
        </div>
    </div>

    <div class="ads-3">
        <div class="flex-3">
            <div class="div1">
                <h1>Biblioteca interminável</h1>
                <h3>Biblioteca interminável</h3>
                <p>Mais de 500 mil livros para você aproveitar, rir, aprender e se inspirar.</p>
                <div class="icon-position">
                    <mat-icon width="20" height="20" class="icon-add_circle">add_circle</mat-icon>
                </div>
            </div>
            <div class="div2">
                <h1>Modo kids para as crianças</h1>
                <h3>Modo kids para as crianças</h3>
                <p>No modo kids os seus pequenos aproveitam histórias incríveis com segurança e um conteúdo escolhido especialmente para eles.</p>
                <div class="icon-position">
                    <mat-icon class="icon-add_circle">add_circle</mat-icon>
                </div>
                
            </div>
            <div class="div3">
                <h1>Originais Storytel</h1>
                <h3>Originais Storytel</h3>
                <p>Histórias exclusivas, com experiências imersivas e cativantes que você só encontra por aqui!</p>
                <div class="icon-position">
                    <mat-icon class="icon-add_circle">add_circle</mat-icon>
                </div>   
            </div>
        </div>
        <a type="button" class="a-1" href="">Teste grátis por 7 dias</a>   
    </div>
</section>
