<section>
    <div class="list">
        <div class="list-title">
            <h1>As mais ouvidas</h1>
            <div class="list-complete">
                <p>Ver todos os titulos</p>
                <mat-icon class="icon-arrow_forward_ios">arrow_forward_ios</mat-icon>
            </div>
        </div>
        <diV class="list-area">
            <button class="button-left"><mat-icon class="icon-arrow_back_ios_new">arrow_back_ios_new</mat-icon></button>
            <div>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
            </div>
            <button class="button-right"><mat-icon class="icon-arrow_forward_ios">arrow_forward_ios</mat-icon></button>
        </diV>
    </div>
</section>
