@import "../../../variables.scss";

.audiobooks{
    background-color: $primary-color;
    .ads{
        background-image: url('/assets/Audiobook.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        .content{
            position: absolute;
            bottom: 0px;
            background: linear-gradient(to top,#111 80%,transparent 100%);
            width: 100%;
        }
    }
}