.ads{
    background-image: url('/assets/Categorias.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    .content{
        position: absolute;
        bottom: 0px;
        background: linear-gradient(to top,#111 25%,transparent 75%);
        width: 100%;
    }
}