<section>
    <div>
        <div class="list-container" #listContainerLeft>
            <!--<p>(mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"</p>-->
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
        </div>
    </div>
    <div>
        <div class="list-container2" #listContainerRight>
            <!--<p>(mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"</p>-->
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
            <li><img ngSrc="/assets/Book.png" width="160" height="160"></li>
        </div>
    </div>
</section>