<section>
    <div>
        <h1>Fantasia & Scifi</h1>
        <hr>
        <div>
            <img ngSrc="/assets/Book.png" width="80" height="80">
            <img ngSrc="/assets/Book.png" width="80" height="80">
            <img ngSrc="/assets/Book.png" width="80" height="80">
            <img ngSrc="/assets/Book.png" width="80" height="80">
            <img ngSrc="/assets/Book.png" width="80" height="80">
            <img ngSrc="/assets/Book.png" width="80" height="80">
        </div>
    </div>
</section>
